<html>
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href='/static/css/logger.css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <headers>
        <h2>Login</h2>
    </headers>
    <form method="POST" action="/login">
        <div class="form-field">
            <label>Username</label><br>
            <input style="font-size: 16px" type="text" style="font-size: 30px" name="username" required />
        </div>
        <div  class="form-field">
            <label>Password</label><br>
            <input type="Password" style="font-size: 16px" name="password" required />
        </div>
        <div class="form-field">
            <input type="submit" >
            <button><a href = "/signup">signup</a></button>
        </div>
    </form>
    
    {{if .}}
        <div class="flash-message">
            <span>{{.}}</span>
        </div>
    {{end}}
</body>
</html>