*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

headers{
    height: 20vh;
    color: black;
    display: grid;
    place-items: center;    
}

#logout-button{
    width: 90%;
    display: flex;
    justify-content: end;
}

.main-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-form > input[type="text"] {
    width: 98%;
    height: 10vh;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    border: 1px solid #585858;
    padding-left: 1%;
}

button, input[type="submit"]{
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 5px;
    font-family: 'Poppins';
    border: none;
    background-color: black;
    color: white;
}

button{
    margin-top: 5vh;
}

button > a{
    text-decoration: none;
    color: white;
}

.updateForm{
    display: flex;
    justify-content: center;
    width: 100%;
}

.updateForm > input[type="text"]{
    width: 90%;
    border: 1px solid #585858;
}

li{
    margin-top: 7vh;
    border-bottom: 1px solid #585858;
    display: grid;
    place-items: center;
}

li > .item-container{
    width: 90%;
}

.deleteForm {
    height: 10vh;
    display: grid;
    place-items: center;
}

.flash-message{
    width: 80%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}